# my global config
global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  external_labels:
    cluster: "my-cluster"
    prometheus: "prometheus-1"
    replica: 0
  # scrape_timeout is set to the global default (10s).
  #  query_log_file: /prometheus/query.log

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - alertmanager:9093
# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  - "/etc/prometheus/alert.rules.yml"
  # - "second_rules.yml"

# Here it's Prometheus itself.
scrape_configs:
  - job_name: 'postgres-exporter'
    static_configs:
      - targets: ['postgres-exporter:9187']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'elasticsearch-exporter'
    static_configs:
      - targets:
        - 'elasticsearch_exporter:9114'

  - job_name: 'grafana_metrics'
    static_configs:
      - targets: 
        - 'grafana:3000'

  - job_name: 'thanos-sidecar'
    scrape_interval: 5s
    static_configs:
      - targets:
        - "thanos-sidecar:10902"

  - job_name: 'thanos-store'
    scrape_interval: 5s
    static_configs:
      - targets:
        - "thanos-store:10906"
       
  - job_name: 'thanos-query'
    scrape_interval: 5s
    static_configs:
      - targets:
        - "thanos-query:10904"
          #ca_file: /usr/share/prometheus/certs/ca/ca.crt
          #cert_file: /usr/share/prometheus/certs/prometheus/prometheus.crt
          #key_file: /usr/share/prometheus/certs/prometheus/prometheus.key
  #client_auth_type: "RequireAndVerifyClientCert"
  #client_ca_file: /usr/share/prometheus/certs/ca/ca.crt

remote_write:
  - url: "http://thanos-receiver:19291/api/v1/receive"
