# database
data/
accounts/images/accounts/

# python
__pycache__/

# emacs

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

ft_transcendence.webarchive
.venv/
db.sqlite3
.DS_Store
node_modules/
.vite/
threeD/node_modules
threeD/dist
pyrightconfig.json

web/assets
.env
.vscode

Makefile
