services:
  db:
    container_name: db
    image: postgres:16
    platform: linux/arm64
    env_file:
      - .env
    volumes:
      - log-volume:/var/log
      - "./db/postgresql.conf:/etc/postgresql/postgresql.conf"
      - "./db/init-pg-stat-statements.sql:/docker-entrypoint-initdb.d/init-pg-stat-statements.sql"
    ports:
      - "5432"
    command: ["postgres", "-c", "config_file=/etc/postgresql/postgresql.conf"]

  web:
    container_name: web
    platform: linux/arm64
    build: ./web
    pull_policy: never
    volumes:
      - static_assets:/project/assets
      - uwsgisocket:/var/run/nginx
      - images:/project/accounts/images
    ports:
      - "8000:8000"
    depends_on:
      - db
      #      - selenium
      #    links:
      #      - selenium
    env_file:
      - .env
  selenium:
    image: selenium/standalone-chrome
    env_file:
      - .env
    ports:
      - 4444:4444
      - 7900:7900
  nginx:
    container_name: nginx
    build: ./nginx
    volumes:
      - static_assets:/app/assets
      - uwsgisocket:/var/run/nginx
    ports:
      - '443:443'
      # - 80:80
    depends_on:
      - web
      #    networks:
      #      - system-monitor
      #- log-management
      #    volumes:
      #      - log_data:/var/log/web

      #  selenium:
      #    image: seleniarm/standalone-chromium  # 修正
      #    platform: linux/arm64
      #    environment:
      #      - SE_VNC_NO_PASSWORD=1
      #    ports:
      #      - "4444:4444"
      #      - "7900:7900"
  
# ==========================================
# Log management
# ==========================================

      #  elasticsearch:
      #    build: ./devops/log-management/elasticsearch
      #    container_name: elasticsearch
      #    platform: linux/arm64
      #    environment:
      #      - discovery.type=single-node
      #      - bootstrap.memory_lock=true
      #      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      #    env_file:
      #      - .env
      #    ports:
      #      - "9200:9200"
      #    networks:
      #      - log-management
      #    ulimits:
      #      memlock:
      #        soft: -1
      #        hard: -1    
      #
      #  logstash:
      #    build: ./devops/log-management/logstash
      #    container_name: logstash
      #    platform: linux/arm64
      #    env_file:
      #      - .env
      #    ports:
      #      - "9600:9600"
      #      - "5044"
      #    networks:
      #      - log-management
      #
      #  kibana:
      #    build: ./devops/log-management/kibana
      #    container_name: kibana
      #    platform: linux/arm64
      #    #    env_file:
      #    #      - .env
      #    ports:
      #      - "5601:5601"
      #    networks:
      #      - log-management
      #
      #  filebeat:
      #    build: ./devops/log-management/filebeat 
      #    container_name: filebeat
      #    platform: linux/arm64
      #    #    volumes:
      #      #- log-volume:/var/log
      #    networks:
      #      - log-management
      
      #  elastic-agent:
      #    build: ./devops/log-management/elastic-agent
      #    container_name: elastic-agent
      #    platform: linux/arm64
      #    env_file:
      #      - .env
      #    networks:
      #      - log-management
# ==========================================
# system monitor
# ==========================================
  prometheus:
    #image: prom/prometheus
    build: ./devops/system-monitor/prometheus
    container_name: prometheus
    platform: linux/arm64
    ports:
      - "9090:9090"
    volumes:
      - certs:/usr/share/prometheus/certs
      - thanos:/data
      - "./devops/system-monitor/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro"
      - "./devops/system-monitor/prometheus/web-config.yml:/etc/prometheus/web-config.yml:ro"
      - "./devops/system-monitor/prometheus/alert.rules.yml:/etc/prometheus/alert.rules.yml:ro"
      - log-volume:/prometheus/query.log
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--log.level=debug'
      - "--storage.tsdb.path=/data/prom"
      - '--web.config.file=/etc/prometheus/web-config.yml'
      - '--web.external-url=https://localhost:9090'
      - "--storage.tsdb.min-block-duration=2h"
      - "--storage.tsdb.max-block-duration=2h"
    user: root
    restart: always

  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    platform: linux/arm64
    ports:
      - "3000:3000"
    volumes:
      - certs:/usr/share/grafana/certs
      - "./devops/system-monitor/grafana/defaults.ini:/usr/share/grafana/conf/defaults.ini:ro"
      - "./devops/system-monitor/grafana/prometheus-datasource.yml:/etc/grafana/provisioning/datasources/prometheus-datasource.yml:ro"
      - './devops/system-monitor/grafana/dashboard-settings:/etc/grafana/provisioning/dashboards:ro'
      - './devops/system-monitor/grafana/dashboards:/var/lib/grafana/dashboards:ro'
      #- log-volume:/var/log
      - thanos:/data/prom 
      - certs:/usr/local/share/ca-certificates
    user: root

  node-exporter:
    image: prom/node-exporter
    container_name: node-exporter
    platform: linux/arm64
    ports:
      - "9100"
      #volumes:
      #  - "/run/udev:/run/udev:ro"
      #user: root
    command:
    - "--no-collector.diskstats"

  postgres-exporter:
    container_name: postgres-exporter
    image: quay.io/prometheuscommunity/postgres-exporter
    platform: linux/arm64
    env_file:
      - .env
    ports:
      - "9187"

  elasticsearch_exporter:
    container_name: elasticsearch_exporter
    build: ./devops/system-monitor/elasticsearch_exporter
    depends_on:
      - es01
    volumes:
      - certs:/usr/share/prometheus/certs
    user: root
    environment:
      - ES_USERNAME=elastic
      - ES_PASSWORD=changeme
    command:
      - '--es.uri=https://es01:9200'
      - '--es.ca=/usr/share/prometheus/certs/ca/ca.crt'
      - '--es.client-private-key=/usr/share/prometheus/certs/es01/es01.key'
      - '--es.client-cert=/usr/share/prometheus/certs/es01/es01.crt'
      - '--es.all'
      - '--log.level=debug'
    ports:
      - "9114"

  alertmanager: # Alerting for Prometheus
    image: prom/alertmanager
  #build: ./devops/system-monitor/alertmanager
    container_name: alertmanager
    hostname: alertmanager
    env_file:
      - .env
    ports:
      - "9093:9093"
    restart: always
    volumes:
      - "./devops/system-monitor/alertmanager/config.yml:/etc/alertmanager/alertmanager.yml:ro"
      #- ./devops/system-monitor/alertmanager/alerts:/usr/share/alertmanager/alerts
      #- ./devops/system-monitor/alertmanager/templates:/usr/share/alertmanager/templates
      #- ./devops/system-monitor/alertmanager/data:/alertmanager
      #command: >
      #  bash -c '
      #  envsubst '$$SLACK_WEBHOOK_URL'< /usr/share/alertmanager/config.yml > /usr/share/alertmanager/config.yml
      #  envsubst '$$SLACK_CHANNEL_NAME'< /usr/share/alertmanager/config.yml > /usr/share/alertmanager/config.yml
      #  '
  
  thanos-sidecar:
    build: ./devops/system-monitor/data
    image: thanosio/thanos:v0.10.0
    container_name: thanos-sidecar
    command:
      - "sidecar"
      - "--debug.name=thanos-sidecar"
      - "--grpc-address=0.0.0.0:10901"
      - "--http-address=0.0.0.0:10902"
      - "--prometheus.url=https://prometheus:9090"
      - "--tsdb.path=/data/prom"
      - "--objstore.config-file=/bucket.yml"
    volumes:
      - certs:/etc/ssl/certs
      - thanos:/data
      - ./devops/system-monitor/data/bucket.yml:/bucket.yml
      - ./devops/system-monitor/data/prometheus-http-config.yml:/etc/thanos/prometheus-http-config.yml
      - ./devops/system-monitor/data/entrypoint.sh:/usr/local/bin/entrypoint.sh
    depends_on:
      - prometheus

  thanos-query:
    image: thanosio/thanos:v0.10.0
    container_name: thanos-query
    command:
      - "query"
      - "--grpc-address=0.0.0.0:10903"
      - "--http-address=0.0.0.0:10904"
      - "--query.replica-label=prometheus"
      - "--store=thanos-sidecar:10901"
      - "--store=thanos-store:10905"
    ports:
      - 10904:10904
    depends_on:
      - thanos-sidecar
      - thanos-store

  thanos-store:
    image: thanosio/thanos:v0.10.0
    container_name: thanos-store
    restart: always
    command:
      - "store"
      - "--grpc-address=0.0.0.0:10905"
      - "--http-address=0.0.0.0:10906"
      - "--data-dir=/data/store"
      - "--objstore.config-file=/bucket.yml"
    volumes:
      - certs:/certs
      - store:/data
      - ./devops/system-monitor/data/bucket.yml:/bucket.yml

  compactor:
    image: thanosio/thanos:v0.10.0
    container_name: compactor
    command:
      - "compact"
      - "--wait"
      - "--data-dir=/tmp/thanos-compact"
      - "--objstore.config-file=/bucket.yml"
      - "--http-address=0.0.0.0:10902"
    volumes:
      - compact:/tmp
      - ./devops/system-monitor/data/bucket.yml:/bucket.yml
    depends_on:
      - thanos-sidecar
      - thanos-store

  setup:
    image: docker.elastic.co/elasticsearch/elasticsearch:${STACK_VERSION}
    volumes:
      - certs:/usr/share/elasticsearch/config/certs
    user: "0"
    command: >
      bash -c '
        if [ x${ELASTIC_PASSWORD} == x ]; then
          echo "Set the ELASTIC_PASSWORD environment variable in the .env file";
          exit 1;
        elif [ x${KIBANA_PASSWORD} == x ]; then
          echo "Set the KIBANA_PASSWORD environment variable in the .env file";
          exit 1;
        fi;
        if [ ! -f config/certs/ca.zip ]; then
          echo "Creating CA";
          bin/elasticsearch-certutil ca --silent --pem -out config/certs/ca.zip;
          unzip config/certs/ca.zip -d config/certs;
        fi;
        if [ ! -f config/certs/certs.zip ]; then
          echo "Creating certs";
          echo -ne \
          "instances:\n"\
          "  - name: es01\n"\
          "    dns:\n"\
          "      - es01\n"\
          "      - localhost\n"\
          "    ip:\n"\
          "      - 127.0.0.1\n"\
          "  - name: kibana\n"\
          "    dns:\n"\
          "      - kibana\n"\
          "      - localhost\n"\
          "    ip:\n"\
          "      - 127.0.0.1\n"\
          "  - name: prometheus\n"\
          "    dns:\n"\
          "      - prometheus\n"\
          "      - localhost\n"\
          "    ip:\n"\
          "      - 127.0.0.1\n"\
          "  - name: grafana\n"\
          "    dns:\n"\
          "      - grafana\n"\
          "      - localhost\n"\
          "    ip:\n"\
          "      - 127.0.0.1\n"\
          "  - name: elastic-agent\n"\
          "    dns:\n"\
          "      - elastic-agent\n"\
          "      - localhost\n"\
          "    ip:\n"\
          "      - 127.0.0.1\n"\
          > config/certs/instances.yml;
          bin/elasticsearch-certutil cert --silent --pem -out config/certs/certs.zip --in config/certs/instances.yml --ca-cert config/certs/ca/ca.crt --ca-key config/certs/ca/ca.key;
          unzip config/certs/certs.zip -d config/certs;
        fi;
        echo "Setting file permissions"
        chown -R root:root config/certs;
        find . -type d -exec chmod 750 \{\} \;;
        find . -type f -exec chmod 640 \{\} \;;
        echo "Waiting for Elasticsearch availability";
        until curl -s --cacert config/certs/ca/ca.crt https://es01:9200 | grep -q "missing authentication credentials"; do sleep 30; done;
        echo "Setting kibana_system password";
        until curl -s -X POST --cacert config/certs/ca/ca.crt -u "elastic:${ELASTIC_PASSWORD}" -H "Content-Type: application/json" https://es01:9200/_security/user/kibana_system/_password -d "{\"password\":\"${KIBANA_PASSWORD}\"}" | grep -q "^{}"; do sleep 10; done;
        echo "All done!";
      '
    healthcheck:
      test: ["CMD-SHELL", "[ -f config/certs/es01/es01.crt ]"]
      interval: 1s
      timeout: 5s
      retries: 120
 

  es01:
    container_name: es01
    depends_on:
      setup:
        condition: service_healthy
    image: docker.elastic.co/elasticsearch/elasticsearch:${STACK_VERSION}
    labels:
      co.elastic.logs/module: elasticsearch
    volumes:
      - certs:/usr/share/elasticsearch/config/certs
      - esdata01:/usr/share/elasticsearch/data
      - "./devops/es01/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro"
      - ./devops/es01/es-backup/:/mnt/es-backup 
    ports:
      - ${ES_PORT}:9200
    environment:
      - node.name=es01
      - cluster.name=${CLUSTER_NAME}
      - discovery.type=single-node
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
      - bootstrap.memory_lock=true
      - xpack.security.enabled=true
      - xpack.security.http.ssl.enabled=true
      - xpack.security.http.ssl.key=certs/es01/es01.key
      - xpack.security.http.ssl.certificate=certs/es01/es01.crt
      - xpack.security.http.ssl.certificate_authorities=certs/ca/ca.crt
      - xpack.security.transport.ssl.enabled=true
      - xpack.security.transport.ssl.key=certs/es01/es01.key
      - xpack.security.transport.ssl.certificate=certs/es01/es01.crt
      - xpack.security.transport.ssl.certificate_authorities=certs/ca/ca.crt
      - xpack.security.transport.ssl.verification_mode=certificate
      - xpack.license.self_generated.type=${LICENSE}
      #- xpack.monitoring.collection.enabled=true
    mem_limit: ${ES_MEM_LIMIT}
    ulimits:
      memlock:
        soft: -1
        hard: -1
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -s --cacert config/certs/ca/ca.crt https://localhost:9200 | grep -q 'missing authentication credentials'",
        ]
      interval: 10s
      timeout: 10s
      retries: 120

  kibana:
    container_name: kibana
    depends_on:
      es01:
        condition: service_healthy
    image: docker.elastic.co/kibana/kibana:${STACK_VERSION}
    labels:
      co.elastic.logs/module: kibana
    volumes:
      - certs:/usr/share/kibana/config/certs
      - kibanadata:/usr/share/kibana/data
      - "./devops/kibana/kibana.yml:/usr/share/kibana/config/kibana.yml:ro"
    ports:
      - ${KIBANA_PORT}:5601
    environment:
      - SERVERNAME=kibana
      - ELASTICSEARCH_HOSTS=https://es01:9200
      - ELASTICSEARCH_USERNAME=kibana_system
      - ELASTICSEARCH_PASSWORD=${KIBANA_PASSWORD}
      - ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES=config/certs/ca/ca.crt
      - XPACK_SECURITY_ENCRYPTIONKEY=${ENCRYPTION_KEY}
      - XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY=${ENCRYPTION_KEY}
      - XPACK_REPORTING_ENCRYPTIONKEY=${ENCRYPTION_KEY}
    mem_limit: ${KB_MEM_LIMIT}
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -s -I http://localhost:5601 | grep -q 'HTTP/1.1 302 Found'",
        ]
      interval: 10s
      timeout: 10s
      retries: 120

      #  metricbeat01:
      #    container_name: metricbeat01
      #    depends_on:
      #      es01:
      #        condition: service_healthy
      #      kibana:
      #        condition: service_healthy
      #    image: docker.elastic.co/beats/metricbeat:${STACK_VERSION}
      #    user: root
      #    volumes:
      #      - certs:/usr/share/metricbeat/certs
      #      - metricbeatdata01:/usr/share/metricbeat/data
      #      - "./devops/beats/metricbeat.yml:/usr/share/metricbeat/metricbeat.yml:ro"
      #      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      #      - "/sys/fs/cgroup:/hostfs/sys/fs/cgroup:ro"
      #      - "/proc:/hostfs/proc:ro"
      #      - "/:/hostfs:ro"
      #    environment:
      #      - ELASTIC_USER=elastic
      #      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
      #      - ELASTIC_HOSTS=https://es01:9200
      #      - KIBANA_HOSTS=http://kibana:5601
      #      - LOGSTASH_HOSTS=http://logstash01:9600
      #
      #  filebeat01:
      #    container_name: filebeat01
      #    depends_on:
      #      es01:
      #        condition: service_healthy
      #    image: docker.elastic.co/beats/filebeat:${STACK_VERSION}
      #    user: root
      #    volumes:
      #      - certs:/usr/share/filebeat/certs
      #      - filebeatdata01:/usr/share/filebeat/data
      #      - "./devops/beats/filebeat_ingest_data/:/usr/share/filebeat/ingest_data/"
      #      - "./devops/beats/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro"
      #      - "/var/lib/docker/containers:/var/lib/docker/containers:ro"
      #      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      #    environment:
      #      - ELASTIC_USER=elastic
      #      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
      #      - ELASTIC_HOSTS=https://es01:9200
      #      - KIBANA_HOSTS=http://kibana:5601
      #      - LOGSTASH_HOSTS=http://logstash01:9600
      #
  logstash01:
    container_name: logstash01
    depends_on:
      es01:
        condition: service_healthy
      kibana:
        condition: service_healthy
    image: docker.elastic.co/logstash/logstash:${STACK_VERSION}
    user: root
    labels:
      co.elastic.logs/module: logstash
    volumes:
      - certs:/usr/share/logstash/certs
      - logstashdata01:/usr/share/logstash/data
      - "./devops/logstash/logstash_ingest_data/:/usr/share/logstash/ingest_data/"
      - "./devops/logstash/logstash.conf:/usr/share/logstash/pipeline/logstash.conf:ro"
    environment:
      - xpack.monitoring.enabled=false
      - ELASTIC_USER=elastic
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
      - ELASTIC_HOSTS=https://es01:9200

  elastic-agent:
    container_name: elastic-agent
    depends_on:
      es01:
        condition: service_healthy
      kibana:
        condition: service_healthy
        #image: docker.elastic.co/beats/elastic-agent:${STACK_VERSION}
    build: ./devops/elastic-agent
    volumes:
      - certs:/usr/share/elastic-agent/certs
      - log-volume:/var/log
      - "./devops/elastic-agent/createILMpolicy.sh:/usr/local/bin/createILMpolicy.sh"
      #- "./devops/elastic-agent/entrypoint.sh:/usr/share/elastic-agent/entrypoint.sh"
    environment:
      - ELASTICSEARCH_HOST=https://es01:9200
      - ELASTICSEARCH_USERNAME=elastic
      - ELASTICSEARCH_PASSWORD=${ELASTIC_PASSWORD}
      - ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES=certs/ca/ca.crt
      - KIBANA_HOST=https://kibana:5601
      - KIBANA_CA=certs/ca/ca.crt
    command: ["sh", "/usr/share/elastic-agent/entrypoint.sh"]

  adminer:
    # build: ./requirements/adminer
    image: adminer
    container_name: adminer
    ports:
      - "8080:8080"
volumes:
  certs:
    driver: local
  esdata01:
    driver: local
  kibanadata:
    driver: local
  metricbeatdata01:
    driver: local
  filebeatdata01:
    driver: local
  logstashdata01:
    driver: local
  log-volume:
    driver: local
  thanos: {}
  store: {}
  compact: {}
  uwsgisocket:
  static_assets:
  db_volume:
  images:

networks:
  default:
    name: elastic
    external: false
  system-monitor:
    driver: bridge

    
