include:
  - ./devops/elastic-stack/compose.yml
  - ./devops/system-monitor/compose.yml

services:
  db:
    container_name: db
    image: postgres:16
    platform: linux/arm64
    env_file:
      - .env
    volumes:
      - log-volume:/var/log
      - db_volume:/var/lib/postgresql/data
      - "./db/postgresql.conf:/etc/postgresql/postgresql.conf"
      - "./db/init-pg-stat-statements.sql:/docker-entrypoint-initdb.d/init-pg-stat-statements.sql"
    ports:
      - "5432"
    command: ["postgres", "-c", "config_file=/etc/postgresql/postgresql.conf"]

  web:
    container_name: web
    build: ./web
    pull_policy: never
    volumes:
      - static_assets:/project/assets
      - uwsgisocket:/var/run/nginx
      - data:/data
    ports:
      - "8000:8000"
    depends_on:
      - db
      #      - selenium
      #    links:
      #      - selenium
    env_file:
      - .env
    environment:
      - ELASTIC_APM_SERVICE_NAME=pong
      - ELASTIC_APM_SERVER_URL=http://apm-server:8200

  nginx:
    container_name: nginx
    build: ./nginx
    volumes:
      - static_assets:/app/assets
      - uwsgisocket:/var/run/nginx
      - data:/data
      - log-volume:/var/log
    ports:
      - '443:443'
    depends_on:
      - web

      #  selenium:
      #    image: seleniarm/standalone-chromium  # 修正
      #    platform: linux/arm64
      #    environment:
      #      - SE_VNC_NO_PASSWORD=1
      #    ports:
      #      - "4444:4444"
      #      - "7900:7900"
  

  adminer:
    # build: ./requirements/adminer
    image: adminer
    container_name: adminer
    ports:
      - "8080:8080"

volumes:
  certs:
    driver: local
  esdata01:
    driver: local
  kibanadata:
    driver: local
  metricbeatdata01:
    driver: local
  filebeatdata01:
    driver: local
  logstashdata01:
    driver: local
  log-volume:
    driver: local
  thanos: 
    driver: local
  store: 
    driver: local
  compact: 
    driver: local
  receive: 
    driver: local
  uwsgisocket:
  static_assets:
  db_volume:
  data:

networks:
  default:
    name: elastic
    external: false
    ipam:
      config:
        - subnet: 192.168.100.0/24
  system-monitor:
    driver: bridge
