services:
  db:
    image: postgres
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  web:
    build: ./web
    volumes:
      - ./web:/project
    ports:
      - "8000:8000"
    links:
      - selenium
    environment:
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    depends_on:
      - db
      - selenium
  selenium:
    image: selenium/standalone-chrome
    environment:
      - SE_VNC_NO_PASSWORD=1
    ports:
      - 4444:4444
      - 7900:7900
