services:
  db:
    container_name: db
    image: postgres
    volumes:
      - db_volume:/var/lib/postgresql/data
    env_file:
      - .env
    networks:
      - ft_transcendence

  web:
    container_name: web
    image: web
    pull_policy: never
    build: ./web
    volumes:
      - static_assets:/project/assets
      - uwsgisocket:/var/run/nginx
      - data:/data
    links:
      - selenium
    env_file:
      - .env
    networks:
      - ft_transcendence
    depends_on:
      - db
      - selenium

  selenium:
    container_name: selenium
    image: selenium/standalone-chrome
    env_file:
      - .env
    ports:
      - 4444:4444
      - 7900:7900
    networks:
      - ft_transcendence

  nginx:
    container_name: nginx
    build: ./nginx
    volumes:
      - static_assets:/app/assets
      - uwsgisocket:/var/run/nginx
    ports:
      - '443:443'
    depends_on:
      - web
    networks:
      - ft_transcendence

volumes:
    uwsgisocket:
    static_assets:
    db_volume:
    data:

networks:
  ft_transcendence:
    name: ft_transcendence
