services:
  db:
    image: postgres
    volumes:
      - ./data/db:/var/lib/postgresql/data
    env_file:
      - .env
  web:
    container_name: web
    build: ./web
    volumes:
      - ./web:/project
      - uwsgisocket:/var/run/nginx
    ports:
      - "8000:8000"
    links:
      - selenium
    env_file:
      - .env
    depends_on:
      - db
      - selenium
  selenium:
    image: selenium/standalone-chrome
    env_file:
      - .env
    ports:
      - 4444:4444
      - 7900:7900
  nginx:
    container_name: nginx
    build: ./nginx
    volumes:
      - ./web/assets:/app/assets
      - uwsgisocket:/var/run/nginx
    ports:
      - '443:443'
      # - 80:80
    depends_on:
      - web
volumes:
    uwsgisocket:
