{% if user.is_authenticated %}
<li class="nav-item active">
  <input type="button" class="btn btn-dark" id="mypage-button" value="Mypage"/>
</li>
<li class="nav-item">
  <input type="button" class="btn btn-dark" id="logout-button" value="Logout"/>
</li>
{% else %}
<li class="nav-item">
  <button type="button" id="login-modal-button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#loginModal">
    Login
  </button>
  <!-- Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Login</h5>
          <button type="button" id="login-close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">
          <form enctype="multipart/form-data">
	    {% csrf_token %}
            <div class="mb-3">
	      <label for="login-username" class="form-label">Username</label>
	      <input type="text" class="form-control" id="login-username" required>
            </div>
            <div class="mb-3">
	      <label for="login-password" class="form-label">Password</label>
	      <input type="password" class="form-control" id="login-password" required>
            </div>
	    <p class="login-error-message" style="color: red;"></p>
	    <input type="button" class="btn btn-dark" id="login-button" value="Login"/>
          </form>
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	</div>
      </div>
    </div>
  </div>
</li>
<li class="nav-item">
  <button type="button" id="signup-modal-button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#signupModal">
    Signup
  </button>
  <!-- Signup Modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header">
          <h5 class="modal-title" id="signupModalLabel">Signup</h5>
          <button type="button" id="signup-close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">
          <form enctype="multipart/form-data">
	    {% csrf_token %}
	    <div class="mb-3">
	      <label for="avatar" class="form-label">Avatar</label>
              <input type="file" class="form-control" accept="image/*" id="avatar"/>
	    </div>
            <div class="mb-3">
	      <label for="username" class="form-label">Username</label>
	      <input type="text" class="form-control" id="signup-username" required>
            </div>
            <div class="mb-3">
	      <label for="password" class="form-label">Password</label>
	      <input type="password" class="form-control" id="signup-password" required>
            </div>
	    <p class="signup-error-message" style="color: red;"></p>
            <input type="button" class="btn btn-dark" id="signup-button" value="Signup"/>
          </form>
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	</div>
      </div>
    </div>
  </div>
</li>
{% endif %}
