<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    {% load static %}
    <title>Pong Game</title>
  </head>
  <body>
    <h1>Pong Game</h1>
    <ul>
      {% if user.is_authenticated %}
      <li>
	<a href="{% url 'accounts:mypage' %}">mypage</a>
      </li>
      <form action="{% url 'logout' %}" method="post">
	{% csrf_token %}
	<button type="submit">logout</button>
      </form>
      {% else %}
      <li>
	<a href="{% url 'login' %}">login</a>
      </li>
      <li>
	<a href="{% url 'accounts:signup' %}">signup</a>
      </li>
      {% endif %}
    </ul>
    <p>
      <a href="{% url 'pong:gameover' 'computer' 10 5 1 %}">Game Over</a>
    </p>
  </body>
</html>
