<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <h1 style="margin: 20px 100px 20px 400px;font-size: 50px;">Pong Game</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto" id="loaded-header">
      <!-- header.html will be included here -->
      {% include 'pong/header.html' %}
    </ul>
  </div>
</nav>
<div class="container">
  <canvas id="canvas" width="900" height="600"></canvas>
</div>
<p>
  <input type="button" class="btn btn-success" id="win-button" value="You win"/>
  <input type="button" class="btn btn-danger" id="lose-button" value="You lose"/>
</p>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% load static %}
<script src="{% static 'pong/main.js' %}"></script>
