<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load django_vite %}
    <head>
        <meta charset="UTF-8" />
        {% vite_hmr_client %}
        {% csrf_token %}
        {% vite_asset 'js/base.js' %}
        <title>{% block title %}Pong Game{% endblock title %}</title>
    </head>

    <body>
        <nav class="navbar navbar-dark bg-dark p-4">
            <a class="navbar-brand">Pong Game</a>
            <div class="navbar-nav d-flex flex-row gap-3">
                {% if user.is_authenticated %}
                <button type="button" class="nav-item btn btn-dark" id="my-page-btn">My Page</button>
                <button type="button" class="nav-item btn btn-dark" id="logout-btn">Logout</button>
                {% else %}
                <a class="nav-item btn btn-dark" href="{% url 'pong:login' %}">Login</a>
                <a class="nav-item btn btn-dark" href="{% url 'pong:signup' %}">Signup</a>
                {% endif %}
            </div>
        </nav>
        <div id="content" class="p-4">{% block content %}{% endblock content %}</div>
        <div id="modal">
            {% if login_modal %}
            {% include 'pong/login_modal.html' %}
            {% endif %}
            {% if signup_modal %}
            {% include 'pong/signup_modal.html' %}
            {% endif %}
        </div>
    </body>
</html>
