{% load static %}
{% load django_vite %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        {% vite_hmr_client %}
        {% vite_asset 'js/base.js' %}
        <title>{% block title %}Pong Game{% endblock title %}</title>
    </head>

    <body>
        <nav class="navbar navbar-dark bg-dark p-4">
            <a class="navbar-brand" href="{% url 'pong:index' %}">Pong Game</a>
            <div class="navbar-nav d-flex flex-row gap-3" id="navbar-btns">
                {% if user.is_authenticated %}
                <a class="nav-item btn btn-dark" href="{% url 'pong:mypage' %}">My Page</a>
                <button class="nav-item btn btn-dark" onclick="window.logoutUser()">Logout</button>
                {% else %}
                <a class="nav-item btn btn-dark" href="{% url 'pong:login' %}">Login</a>
                <a class="nav-item btn btn-dark" href="{% url 'pong:signup' %}">Signup</a>
                {% endif %}
            </div>
        </nav>
        <div id="content" class="p-4">{% block content %}{% endblock content %}</div>
        <div id="modal">
            {% include 'pong/login_modal.html' %}
            {% include 'pong/signup_modal.html' %}
            {% include 'pong/edit_avatar_modal.html' %}
            {% include 'pong/edit_password_modal.html' %}
            {% include 'pong/edit_totp_modal.html' %}
            {% include 'pong/qrcode_modal.html' %}
            {% include 'pong/totp_code_modal.html' %}
            {% include 'pong/edit_usename_modal.html' %}
            {% include 'pong/add_friend_modal.html' %}
        </div>
    </body>
</html>
