{% extends "pong/modal_base.html" %}
{% block modal-id %}"edit-password-modal"{% endblock modal-id %}
{% block modal-header %}{% endblock modal-header %}
{% block modal-body %}
<form>
    <div class="mb-3">
        <label for="edit-password" class="form-label">Password</label>
        <input type="password" class="form-control" id="edit-password" required/>
    </div>
    <p class="edit-password-error-message" style="color: red;"></p>
    <input type="button" class="btn btn-dark" id="edit-password-button" value="Edit password"/>
{% endblock modal-body %}
{% block modal-footer %}
    <button type="button" id="edit-password-close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</form>
{% endblock modal-footer %}
