{% extends "pong/modal_base.html" %}
{% block modal-id %}"edit-password-modal"{% endblock modal-id %}
{% block modal-header %}{% endblock modal-header %}
{% block modal-body %}
<form id="edit-password-form" novalidate>
    <div class="mb-3">
        <label for="edit-password-form-password" class="form-label">Password</label>
        <input type="password" class="form-control" id="edit-password-form-password" required/>
    </div>
{% endblock modal-body %}
{% block modal-footer %}
    <button type="submit" class="btn btn-dark btn-primary">OK</button>
</form>
{% endblock modal-footer %}
