{% extends "pong/modal_base.html" %}
{% block modal-id %}"edit-username-modal"{% endblock modal-id %}
{% block modal-header %}{% endblock modal-header %}
{% block modal-body %}
<form id="edit-username-form" novalidate>
    <div class="mb-3">
        <label for="edit-username-form-username" class="form-label">Username</label>
        <input type="text" class="form-control" id="edit-username-form-username" required/>
    </div>
{% endblock modal-body %}
{% block modal-footer %}
    <button type="submit" class="btn btn-dark btn-primary">OK</button>
</form>
{% endblock modal-footer %}
