{% load static %}
<div class="card-body text-center">
    <div>
        <img id="avatar" src={% if user.avatar %}"{{ user.avatar.url }}"{% else %}"{% static 'accounts/gnu.png' %}"{% endif %} alt="User Profile" class="rounded-circle profile-img mb-3" style="width: 100px;height: 100px">
        <button type="button" class="btn btn-dark btn-sm rounded-circle navbar-toggle" data-bs-toggle="modal" data-bs-target="#editAvatarModal" style="position: absolute;top: 20%;left: 52%">
            <i class="fas fa-camera"></i>
        </button>
    </div>
    <h3 id="username" class="card-title mb-2">{{ user.get_username }}</h3>
    <button type="button" id="edit-username-modal-button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editUsernameModal"><i class="fas fa-edit me-2"></i>Edit username</button>
    <button type="button" id="edit-password-modal-button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editPasswordModal"><i class="fas fa-edit me-2"></i>Edit password</button>
    <div class="row" style="margin: 20px;height: 350px;">
        <div class="col-md-6">
            <!--
{% include 'pong/match_history.html' %}
-->
            match history
        </div>
        <div class="col-md-6" style="max-height: 100%">
            <!--
{% include 'pong/friend_list.html' %}
-->
            friend_list
        </div>
    </div>
</div>
