{% extends "pong/modal_base.html" %}
{% block modal-id %}"signup-modal"{% endblock modal-id %}
{% block modal-title %}Signup{% endblock modal-title %}
{% block modal-body %}
<form id="signup-form" novalidate>
    <div class="mb-3">
        <label for="avatar" class="form-label">Avatar</label>
        <input type="file" class="form-control" accept="image/*" id="signup-form-avatar" />
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="signup-form-username" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="signup-form-password" required>
    </div>
{% endblock modal-body %}
{% block modal-footer %}
    <button class="btn btn-dark btn-primary" type="submit">Signup</button>
</form>
{% endblock modal-footer %}
