services:
  setup:
    build: ./setup
    container_name: setup
    user: root
    env_file:
      - ../../.env
    volumes:
      - certs:/usr/share/elasticsearch/config/certs
      - "./setup/generate_certificates/elasticstack.yml:/usr/share/elasticsearch/elasticstack-certificates.yml"
    healthcheck:
      test: ["CMD-SHELL", "/usr/share/scripts/healthcheck.sh"]
      interval: 2s
      timeout: 5s
      retries: 120

  es01:
    container_name: es01
    depends_on:
      setup:
        condition: service_healthy
    image: docker.elastic.co/elasticsearch/elasticsearch:${STACK_VERSION}
    labels:
      co.elastic.logs/module: elasticsearch
    volumes:
      - certs:/usr/share/elasticsearch/config/certs
      - esdata01:/usr/share/elasticsearch/data
      - "./es01/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro"
    ports:
      - ${ES_PORT}:9200
    environment:
      - node.name=es01
      - cluster.name=${CLUSTER_NAME}
      - discovery.type=single-node
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
      - bootstrap.memory_lock=true
      - xpack.security.enabled=true
      - xpack.security.http.ssl.enabled=true
      - xpack.security.http.ssl.key=certs/es01/es01.key
      - xpack.security.http.ssl.certificate=certs/es01/es01.crt
      - xpack.security.http.ssl.certificate_authorities=certs/ca/ca.crt
      #- xpack.security.transport.ssl.enabled=false
      #- xpack.security.transport.ssl.key=certs/es01/es01.key
      #- xpack.security.transport.ssl.certificate=certs/es01/es01.crt
      #- xpack.security.transport.ssl.certificate_authorities=certs/ca/ca.crt
      #- xpack.security.transport.ssl.verification_mode=certificate
      - xpack.license.self_generated.type=${LICENSE}
      #- xpack.monitoring.collection.enabled=true
      - path.repo=/usr/share/elasticsearch/archive-backup #change env variable soon
    mem_limit: ${ES_MEM_LIMIT}
    ulimits:
      memlock:
        soft: -1
        hard: -1
    healthcheck:
      test:
        [
          "CMD-SHELL",
      "curl -fsSL --cacert /usr/share/elasticsearch/config/certs/ca/ca.crt -u elastic:changeme https://es01:9200/_cluster/health | grep -qE '\"status\":\"(green|yellow)\"'",
        ]
      interval: 3s
      timeout: 5s
      retries: 120

  kibana:
    container_name: kibana
    depends_on:
      es01:
        condition: service_healthy
    build: ./kibana
    labels:
      co.elastic.logs/module: kibana
    volumes:
      - certs:/certs
      - kibanadata:/usr/share/kibana/data
      - "./kibana/kibana.yml:/usr/share/kibana/config/kibana.yml:ro"
    ports:
      - ${KIBANA_PORT}:5601
    environment:
      - SERVERNAME=kibana
      - ELASTICSEARCH_HOSTS=https://es01:9200
      - ELASTICSEARCH_USERNAME=kibana_system
      - ELASTICSEARCH_PASSWORD=${KIBANA_PASSWORD}
      - ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES=/usr/share/kibana/config/certs/ca.crt
      - XPACK_SECURITY_ENCRYPTIONKEY=${ENCRYPTION_KEY}
      - XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY=${ENCRYPTION_KEY}
      - XPACK_REPORTING_ENCRYPTIONKEY=${ENCRYPTION_KEY}
    mem_limit: ${KB_MEM_LIMIT}
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -s -I http://localhost:5601 | grep -q 'HTTP/1.1 302 Found'",
        ]
      interval: 10s
      timeout: 10s
      retries: 120

      #  metricbeat01:
      #    container_name: metricbeat01
      #    depends_on:
      #      es01:
      #        condition: service_healthy
      #      kibana:
      #        condition: service_healthy
      #    image: docker.elastic.co/beats/metricbeat:${STACK_VERSION}
      #    user: root
      #    volumes:
      #      - certs:/usr/share/metricbeat/certs
      #      - metricbeatdata01:/usr/share/metricbeat/data
      #      - "./beats/metricbeat.yml:/usr/share/metricbeat/metricbeat.yml:ro"
      #      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      #      - "/sys/fs/cgroup:/hostfs/sys/fs/cgroup:ro"
      #      - "/proc:/hostfs/proc:ro"
      #      - "/:/hostfs:ro"
      #    environment:
      #      - ELASTIC_USER=elastic
      #      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
      #      - ELASTIC_HOSTS=https://es01:9200
      #      - KIBANA_HOSTS=http://kibana:5601
      #      - LOGSTASH_HOSTS=http://logstash:9600
      #
      #  filebeat01:
      #    container_name: filebeat01
      #    depends_on:
      #      es01:
      #        condition: service_healthy
      #    image: docker.elastic.co/beats/filebeat:${STACK_VERSION}
      #    user: root
      #    volumes:
      #      - certs:/usr/share/filebeat/certs
      #      - filebeatdata01:/usr/share/filebeat/data
      #      - "./beats/filebeat_ingest_data/:/usr/share/filebeat/ingest_data/"
      #      - "./beats/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro"
      #      - "/var/lib/docker/containers:/var/lib/docker/containers:ro"
      #      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      #    environment:
      #      - ELASTIC_USER=elastic
      #      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
      #      - ELASTIC_HOSTS=https://es01:9200
      #      - KIBANA_HOSTS=http://kibana:5601
      #      - LOGSTASH_HOSTS=http://logstash:9600

  logstash:
    container_name: logstash
    depends_on:
      es01:
        condition: service_healthy
    image: docker.elastic.co/logstash/logstash:${STACK_VERSION}
    user: root
    labels:
      co.elastic.logs/module: logstash
    volumes:
      - certs:/usr/share/logstash/certs
      - logstashdata01:/usr/share/logstash/data
      - "./logstash/elastic-agent_pipeline.conf:/usr/share/logstash/pipeline/elastic-agent_pipeline.conf:ro"
    environment:
      - xpack.monitoring.enabled=false
      - ELASTIC_USER=elastic
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
      - ELASTIC_HOSTS=https://es01:9200
    command:
      - "logstash"
      - "-f"
      - "/usr/share/logstash/pipeline/elastic-agent_pipeline.conf" 
      #- "--log.level=debug"
      #- "--config.test_and_exit"
    restart: always

  elastic-agent:
    container_name: elastic-agent
    depends_on:
      es01:
        condition: service_healthy
      kibana:
        condition: service_healthy
    build: ./elastic-agent
    volumes:
      - certs:/usr/share/elastic-agent/certs
      - log-volume:/var/log
      - "./elastic-agent/generate_index_lifecycle_policy.sh:/usr/local/bin/generate_index_lifecycle_policy.sh"
      - "./elastic-agent/generate_snapshot_lifecycle_policy.sh:/usr/local/bin/generate_snapshot_lifecycle_policy.sh"
      #- "./elastic-agent/entrypoint.sh:/usr/share/elastic-agent/entrypoint.sh"
    environment:
      - ELASTICSEARCH_HOST=https://es01:9200
      - ELASTICSEARCH_USERNAME=elastic
      - ELASTICSEARCH_PASSWORD=${ELASTIC_PASSWORD}
      - ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES=certs/ca/ca.crt
      - KIBANA_HOST=https://kibana:5601
      - KIBANA_CA=certs/ca/ca.crt
    networks:
      default:
        ipv4_address: 192.168.100.254

  apm-server:
    container_name: apm-server
    image: docker.elastic.co/apm/apm-server:${STACK_VERSION}
    depends_on:
      es01:
        condition: service_healthy
    user: root
    volumes:
      - certs:/usr/share/apm-server/certs
      - "./apm-server/apm-server.yml:/usr/share/apm-server/apm-server.yml:ro"
    ports:
      - "8200:8200"

