apiVersion: 1

datasources:
  - name: Thanos
    type: prometheus
    access: proxy
    url: http://thanos-query:10904
    isDefault: true
    basicAuth: false
    editable: true
    jsonData:
      tlsAuth: false
      tlsAuthWithCACert: false
      tlsSkipVerify: true

  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: false
    basicAuth: false
    editable: true
    jsonData:
      tlsAuth: false
      tlsAuthWithCACert: false
      tlsSkipVerify: true

  
