{% if friend_list %}
{% for friend in friend_list %}
<li class="list-group-item">
  <img src="{{ friend.avatar.url }}" class="rounded-circle profile-img mb-3" style="height: 30px;width: 30px;position: relative;top: 7px"/>
  {% if friend.is_login %}
  <span style="color: green;margin-right: 10px">online</span>
  {% else %}
  <span style="color: #808080;margin-right: 10px">offline</span>
  {% endif %}
  <span><strong>{{ friend.username }}</strong></span>
</li>
{% endfor %}
{% else %}
<div style="text-align: center;margin: 10px">
  <p><strong>You have no friends yet.</strong></p>
  <p><strong>Click the button above, and make friends!</strong></p>
</div>
{% endif %}
