<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <h1>{{ user.get_username }}'s Page</h1>
    <p>Match History</p>
    <ul>
      {% if user.matchhistory_set.all %}
      {% for matchhistory in user.matchhistory_set.all %}
      <li>
	{{ matchhistory.date }} :
	{% if matchhistory.result == 1 %}
	Win
	{% else %}
	Lose
	{% endif %}
	 for {{ matchhistory.opponent }} with score [ {{ matchhistory.score_1 }} : {{ matchhistory.score_2 }} ]
      </li>
      {% endfor %}
      {% else %}
      <li>no match history yet.</li>
      {% endif %}
    </ul>
    {% else %}
    <a href="{% url 'login' %}">Log In</a>
    {% endif %}
  </body>
</html>
