<div class="container bg-dark d-flex justify-content-center align-items-center min-vh-100">
    <div class="card profile-card" style="width: 90%;height: 90%">
      <input type="button" id="mypage-close" class="btn-close float-right" style="margin: 10px"/>
      <div class="card-body text-center">
	{% if user.is_authenticated %}
	<div>
          <img id="avatar" src="{{ user.avatar.url }}" alt="User Profile" class="rounded-circle profile-img mb-3" style="width: 100px;height: 100px">
	  <button type="button" class="btn btn-dark btn-sm rounded-circle navbar-toggle" data-bs-toggle="modal" data-bs-target="#editAvatarModal" style="position: absolute;top: 20%;left: 52%">
            <i class="fas fa-camera"></i>
          </button>
	</div>
	<div class="modal fade" id="editAvatarModal" tabindex="-1" aria-labelledby="editAvatarModalLabel" aria-hidden="true" style="top: 200px">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body">
		<form enctype="multipart/form-data">
		  {% csrf_token %}
		  <div class="mb-3">
		    <input type="file" class="form-control" accept="image/*" id="edit-avatar" required/>
		  </div>
		  <p class="edit-avatar-error-message" style="color: red;"></p>
		  <input type="button" class="btn btn-dark" id="edit-avatar-button" value="Edit avatar"/>
		</form>
	      </div>
	      <div class="modal-footer">
		<button type="button" id="edit-avatar-close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<h3 id="username" class="card-title mb-2">{{ user.get_username }}</h3>
	<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editUsernameModal"><i class="fas fa-edit me-2"></i>Edit username</button>
	<div class="modal fade" id="editUsernameModal" tabindex="-1" aria-labelledby="editUsernameModalLabel" aria-hidden="true" style="top: 200px">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body">
		<form>
		  {% csrf_token %}
		  <div class="mb-3">
		    <label for="edit-username" class="form-label">Username</label>
		    <input type="text" class="form-control" id="edit-username" required/>
		  </div>
		  <p class="edit-username-error-message" style="color: red;"></p>
		  <input type="button" class="btn btn-dark" id="edit-username-button" value="Edit username"/>
		</form>
	      </div>
	      <div class="modal-footer">
		<button type="button" id="edit-username-close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editPasswordModal"><i class="fas fa-edit me-2"></i>Edit password</button>
	<div class="modal fade" id="editPasswordModal" tabindex="-1" aria-labelledby="editPasswordModalLabel" aria-hidden="true" style="top: 200px">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body">
		<form>
		  {% csrf_token %}
		  <div class="mb-3">
		    <label for="edit-password" class="form-label">Password</label>
		    <input type="password" class="form-control" id="edit-password" required/>
		  </div>
		  <p class="edit-password-error-message" style="color: red;"></p>
		  <input type="button" class="btn btn-dark" id="edit-password-button" value="Edit password"/>
		</form>
	      </div>
	      <div class="modal-footer">
		<button type="button" id="edit-password-close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="row" style="margin: 20px;height: 350px;">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><strong>Match Stats</strong></p>
		<div class="row" style="font-weight: 1000;">
		  <div class="col-md-6">
		    <div class="card">
		      <p style="color: green;">WINS</p>
		      <p>{{ wins }}</p>
		    </div>
		  </div>
		  <div class="col-md-6">
		    <div class="card">
		      <p style="color: red;">LOSES</p>
		      <p>{{ loses }}</p>
		    </div>
		  </div>
		</div>
                <p class="mb-4" style="margin: 15px"><strong>Match History</strong></p>
		<div class="card" style="max-height: 130px;overflow-y: auto">
		  <ul class="list-group" style="text-align: start;font-size: 14px">
		    {% if matches %}
		    {% for match in matches %}
		    <li class="list-group-item">
		      {{ match.date }} : You
		      {% if match.result == 1 %}
		      <span style="color: green;">win</span>
		      {% else %}
		      <span style="color: red;">lose</span>
		      {% endif %}
		      against {{ match.opponent }} ({{ match.score_user }}:{{ match.score_opponent }})
		    </li>
		    {% endfor %}
		    {% else %}
		    <div style="text-align: center;margin: 10px">
		      <p><strong>You have no match history yet.</strong></p>
		    </div>
		    {% endif %}
		  </ul>
		</div>
              </div>
            </div>
          </div>
          <div class="col-md-6" style="max-height: 100%">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4">
		  <strong>Friends</strong>
		  <button type="button" id="add-friend-modal-button" class="btn btn-dark btn-sm rounded-circle navbar-toggle" data-bs-toggle="modal" data-bs-target="#addFriendModal" style="position: absolute;left: 350px">
		    <i class="fas fa-user-plus"></i>
		  </button>
		</p>
		<div class="modal fade" id="addFriendModal" tabindex="-1" aria-labelledby="addFriendModalLabel" aria-hidden="true" style="top: 200px">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
			<form>
			  {% csrf_token %}
			  <div class="mb-3">
			    <label for="requested-friend" class="form-label">Friend's name</label>
			    <input type="text" class="form-control" id="requested-friend" required/>
			  </div>
			  <p class="add-friend-error-message" style="color: red;"></p>
			  <input type="button" class="btn btn-dark" id="add-friend-button" value="Make friends"/>
			</form>
		      </div>
		      <div class="modal-footer">
			<button type="button" id="add-friend-close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="card" style="max-height: 275px;overflow-y: auto">
		  <ul class="list-group" id="friend-list" style="text-align: start">
		    {% include 'accounts/friends.html' %}
		  </ul>
		</div>
              </div>
            </div>
          </div>
        </div>
	{% else %}
        <h3 class="card-title mb-2">Sorry, You are not authenticated.</h3>
	{% endif %}
      </div>
    </div>
</div>
