$font-family-sans-serif: 'SpaceType', sans-serif;

@import "~bootstrap/scss/bootstrap";
@import "https://fonts.cdnfonts.com/css/spacetype";

// $fa-font-path: "../webfonts";
// @import "~fontawesome/scss/fontawesome";
// @import "~fontawesome/scss/solid";

* {
    overflow: hidden;
}

.navbar-brand {
    font-size: 50px;
}
