$font-family-sans-serif: 'SpaceType', sans-serif;

@import "~bootstrap/scss/bootstrap";
@import "https://fonts.cdnfonts.com/css/spacetype";

* {
    overflow: hidden;
}

.navbar-brand {
    font-size: 50px;
} 

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
