* {
    overflow: hidden;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.container.root-menu,
.container.match-anouncement,
.container.match-results,
.container.tournament-result {
    max-width: 400px;
}

.container.pvp-menu {
    max-width: 600px;
}

.menu-title {
    text-align: center;
}

#floating-menu .btn-custom {
    width: 100%;
    margin: 10px 0;
}
