* {
    margin: 0;
    padding: 0;
  }
  
  canvas {
    background-color: black;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }